body {
    background-color: black;
}
h1 {
    color: white;
}
p {
    color: white;
}
.card-body {
    color:white;
}
.card {
    background-color: rgb(37, 36, 36);
    border: 4px solid white;
    border-radius: 35px;
}
.card-img-top {
   border-radius: 30px;
}

